<header [title]="'Big challenges need big ideas'"
        [text]="'We provide enterprise-level of service and covering all areas of software development: iOS, Android, Web as well as offering professional UX\\UI design expertise.'"
        [bg]="'assets/images/header/srv-header-bg.jpg'">
</header>


<section class="frame frame_border">
  <duplex-content [title]="'User experience design'" [image]="'assets/images/services/ux.jpg'" [textIsLeft]="true"
                  [text]="'It is not enough to develop websites that only look good, but it is important to make them human-friendly, to make them work on all browsers, and viewable on tablets and mobile devices. That \'s what we do!'"
                  [content]="[
                    {
                      title: 'Flexible',
                      text: 'We make responsive, cross-browser and technically advanced websites.'
                    },
                    {
                      title: 'Users won\'t leave',
                      text: 'Engaging content is not enough, but the convenient organization and caring about the reader will do the magic.'
                    },
                    {
                      title: 'Make it Easy',
                      text: 'Let your users enjoy an intuitive website navigation experience, with an easy access to any page.'
                    },
                    {
                      title: 'Human-centered design',
                      text: 'We\'re all about UX! We know the fastest and most intuitive way of giving a user the answer he is looking for.'
                    }
                  ]">
  </duplex-content>
</section>

<section class="frame frame_border">
  <duplex-content [title]="'Custom web development'" [image]="'assets/images/services/web.jpg'"
                  [text]="'Whatever your business is, Valor Software can create a stunning and intuitive website that will impress your customers and will attract new ones. Moreover, your site will be created using best practices for search engines..'"
                  [content]="[
                    {
                      title: 'Following standards',
                      text: 'We ensure that each line of code is working by W3C standards.'
                    },
                    {
                      title: 'Constant Compatibility',
                      text: 'On any browser, everyone will have the same experience. We\'re always up to date with cross-browser testing.'
                    },
                    {
                      title: 'Yes, the code is also trendy',
                      text: 'We always tend to learn new technologies day by day to ensure you the most advanced web product.'
                    },
                    {
                      title: 'SEO & Statistics',
                      text: 'Enhancing and improving website search engine discoverability along with deep Google Analytics integration.'
                    }
                  ]">
  </duplex-content>
</section>

<section class="frame frame_border">
  <duplex-content [title]="'Mobile applications'" [image]="'assets/images/services/mobile.jpg'" [textIsLeft]="true"
                  [text]="'Valor-Software offers full-scale mobile development services for iOS and Android platforms, including testing. Our goal is to deliver user-friendly, stylish, and useful applications for your business and your clients.'"
                  [content]="[
                    {
                      title: 'Researching',
                      text: 'We do deep market research to survey competitors, looking for similar apps available and making a better one.'
                    },
                    {
                      title: 'Wireframing',
                      text: 'To align UX guidelines with your project, we develop a proof of concept, an interactive visualization of the app.'
                    },
                    {
                      title: 'Developing',
                      text: 'To develop modern mobile applications for our clients, we constantly learning new technologies and techniques.'
                    },
                    {
                      title: 'Testing',
                      text: 'Focus on delivering quality apps to every one of our clients is in our DNA.'
                    }
                  ]">
  </duplex-content>
</section>

<section class="frame">
  <duplex-content [title]="'Migration to node.js'" [image]="'assets/images/services/nodejs.jpg'"
                  [text]="'You have a working product, but it has overgrown its technologies? Node.js fits the needs of a fast-changing Internet that is increasingly mobile. We have the best specialists that are here to help.'"
                  [content]="[
                    {
                      title: 'Performance',
                      text: 'Node.js is fast. Node.js is asynchronous, which helps it be the most reliable technology for your application'
                    },
                    {
                      title: 'Efficiency',
                      text: 'Node.js is designed for high-load projects, it is able to handle thousands of concurrent requests.'
                    },
                    {
                      title: 'Staying up to date',
                      text: 'We go hand in hand with technology and by using Node.js, we can do more for you!'
                    },
                    {
                      title: 'Support',
                      text: 'We tend to build future-proof projects. With Node.js modularity, support and maintenance is a piece of cake!'
                    }
                  ]">
  </duplex-content>
</section>

<section class="frame frame_dark">
  <div class="container">
    <section-heading
      [title]="'How we do it'"
      [description]="'Our highest priority is to meet client expectations with top technical expertise that consistently delivers innovative and high-quality technology solutions.'"
    >
    </section-heading>
    <div class="row">
      <a [routerLink]="['/approach']" class="btn">See</a>
    </div>
  </div>
</section>

<section class="frame">
  <div class="container">
    <section-heading
      [title]="'What people are saying'"
      [description]="'We care about our clients and our reputation, and we respectively approach each and every project, regardless of its size and complexity.'">
    </section-heading>
    <div class="row">
      <feedback></feedback>
    </div>
  </div>
</section>
