<!--<div class="intro">-->
  <!--<div class="intro__overlay"></div>-->
<!--</div>-->

<!--<hr>-->

<!--<button type="button" class="btn btn-primary"-->
        <!--(click)="isCollapsed = !isCollapsed">Toggle collapse-->
<!--</button>-->
<!--<hr>-->
<!--<div (collapsed)="collapsed($event)"-->
     <!--(expanded)="expanded($event)"-->
     <!--[collapse]="isCollapsed"-->
     <!--class="card card-block card-header">-->
  <!--<div class="well well-lg">Some content</div>-->
<!--</div>-->
<section class="frame frame_dark">
  <div class="container">
    <section-heading
      [title]="'How we do it'"
      [description]="'We blend user experience with...We blend user experience with...We blend user experience with...We blend user experience with...We blend user experience with...'">
    </section-heading>
    <div class="frame__btn">
      <a [routerLink]="['/approach']" class="btn">Look at it</a>
    </div>
  </div>
</section>
