<div class="header"  [style.background-image]="url">
    <div class="container">
        <div class="row">
            <div class="header__inner">
                <h3 class="header__heading">{{ title }}</h3>
                <p *ngIf="subtitle" class="header__subtitle">{{ subtitle }}</p>
                <span *ngIf="location" class="header__location">{{ location }}</span>
                <div *ngIf="text" class="header__text">
                    <p>{{ text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
