<p *ngIf="!project">Loading...</p>

<div *ngIf="project;">
  <header
    [title]="project.name"
    [subtitle]="project.industry"
    [bg]="project['header-image'].url"
    [class.header_blog]="project.industry"
  >
  </header>

  <section class="frame frame_border">
    <div class="container">
      <div class="project__section">
        <div class="col-lg-2">
          <h5 class="project__heading">Description</h5>
        </div>
        <div class="col-lg-9 col-md-11">
          <p>{{project.description}}</p>
          <div class="content-presentation">
            <div class="content-presentation__img">
              <img *ngIf="!project['video-link']" [src]="project['project-img'].url" width="800">
              <iframe *ngIf="project['video-link']" [src]="project['video-link']" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="content-presentation__links">
              <a class="content-presentation__link" *ngIf="project['view-online']" href="{{project.externalLink}}" target="_blank">
                <span class="icon-link"></span>
                View Online »
              </a>
              <a class="content-presentation__link" *ngIf="project['view-presentation']" href="{{project.behanceLink}}" target="_blank">
                <span class="icon-be"></span>
                View presentation »
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1">
          <button pageScroll href="#startForm" class="btn btn_scroll btn_small project__btn">Start</button>
        </div>
      </div>

      <div class="project__section">
        <div class="col-lg-2">
          <h5 class="project__heading">Tasks</h5>
        </div>
        <div class="col-lg-9">
          <div innerHTML="{{ project.tasks }}"></div>
        </div>
      </div>

      <div class="project__section">
        <div class="col-lg-2">
          <h5 class="project__heading">Solutions</h5>
        </div>
        <div class="col-lg-9">
          <div innerHTML="{{ project.solution }}"></div>
        </div>
      </div>

      <div class="project__section">
        <div class="col-lg-2">
          <h5 class="project__heading">Outcome</h5>
        </div>
        <div class="col-lg-9">
            <p>{{ project.outcome }}</p>
        </div>
      </div>

      <div class="project__section">
        <div class="col-lg-2">
          <h5 class="project__heading">Technology</h5>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div innerHTML="{{project.technologies}}" class="technologies-list"></div>
          </div>
        </div>
      </div>

      <div class="project__section">
        <div class="col-lg-2">
          <h5 class="project__heading">Members</h5>
        </div>
        <div class="col-lg-9">
          <div class="project__member-list">
            <template ngFor let-member [ngForOf]="members">
              <div [ngClass]="{'project__member_exmember': !member.public}" class="project__member col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <img (click)="goToMember(member.public, member.slug)" [src]="member['thumb-photo'].url" width="70" height="70">
                <span (click)="goToMember(member.public, member.slug)" class="project__member-name">{{member.name}}</span>
                <span class="project__member-position">{{member.position}}</span>
              </div>
            </template>
          </div>
        </div>
      </div>

      <div class="project__section" *ngIf="project.reference">
        <div class="col-lg-2">
          <h5 class="project__heading">Reference</h5>
        </div>
        <div class="project__reference col-lg-9">
          <div class="project__reference-info">
            <div>
              <img [src]="project.reference['customer-photo'].url" width="70" height="70">
            </div>
            <div>
              <span class="project__reference-name">{{project.reference.name}}</span>
              <span class="project__reference-position">{{project.reference.position}}</span>
            </div>
          </div>
          <span class="project__reference-text">{{project.reference.reference}}</span>
        </div>
      </div>
    </div>
  </section>

  <div class="frame frame_border frame_projects">
    <div class="container">
      <section-heading
        [title]="'Similar projects'"
        [description]="'We perform a whole project lifecycle and stay after its launch to help you make the business really successful! These are public projects while the rest are under NDA'">
      </section-heading>
      <div class="row">
        <projects-list class="projects-list projects-list_similar" [maxItems]="3" [similarTo]="projectLink"></projects-list>
      </div>
    </div>
  </div>

  <div class="frame frame_light" id="startForm">
    <div class="container">
      <div class="frame__top">
        <h2 class="frame__heading">Ready to take the next step?</h2>
      </div>
      <div>
        <forms [pageName]="pageName"></forms>
      </div>
    </div>
  </div>
</div>
