<header
  [title]="project.title"
  [bg]="'approach/images/background.jpg'"
>
</header>

<project-details [project]="project"></project-details>

<section class="frame frame_white">
  <div class="frame__top">
    <div class="container">
      <h2 class="frame__heading">Similar projects</h2>
      <p class="frame_text">
        We perform a whole project lifecycle and stay after its launch to help you make the business really successful!
        These are public projects while the rest are under NDA
      </p>
      <projects-list class="projects-list-light" [maxItems]="3" [similarTo]="projectLink"></projects-list>
    </div>
  </div>
</section>

<feedback></feedback>
