<section class="frame frame_white" id="whatWeDo">
    <div class="container">
        <div class="frame__top">
            <h2 class="frame__heading">What we do for your success</h2>
            <p class="frame__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate dolores et illo</p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="icon-block">
                    <div class="icon-block__icon">
                        <img src="./src/components/landing/img/ui-ux.png" alt="#">
                    </div>
                    <h5 class="icon-block__title">User Experience Design</h5>
                    <p class="icon-block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="icon-block">
                    <div class="icon-block__icon">
                        <img src="./src/components/landing/img/web-dev.png" alt="#">
                    </div>
                    <h5 class="icon-block__title">User Experience Design</h5>
                    <p class="icon-block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="icon-block">
                    <div class="icon-block__icon">
                        <img src="./src/components/landing/img/mobile-dev.png" alt="#">
                    </div>
                    <h5 class="icon-block__title">User Experience Design</h5>
                    <p class="icon-block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="icon-block">
                    <div class="icon-block__icon">
                        <img src="./src/components/landing/img/node_js.png" alt="#">
                    </div>
                    <h5 class="icon-block__title">User Experience Design</h5>
                    <p class="icon-block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                </div>
            </div>
        </div>
        <div class="frame__btn">
            <a routerLink="/approach" class="btn">See how we do it</a>
        </div>
    </div>
</section>
<section class="frame frame_white frame_white">
    <div class="container">
        <div class="frame__top">
            <h2 class="frame__heading">What people are saying</h2>
            <p class="frame__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        </div>
        <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
            <slide *ngFor="let slidez of slides; let index=index" [active]="slidez.active">
                <div class="slide__inner">
                    <div class="slide__item">
                    <div class="slide__left">
                        <div class="slide__brand">
                            <img src="./src/components/landing/img/cola-logo.png" alt="">
                        </div>
                        <strong>{{slidez.text}} Industry</strong>
                        <span>Soft drink company</span>
                        <strong>Location</strong>
                        <span>United States</span>
                    </div>
                    <div class="slide__right">
                        <div class="slide__person">
                            <div class="slide__avatar">
                                <img src="./src/components/landing/img/photo.png" alt="">
                            </div>
                            <strong class="slide__name">John Pemberton</strong>
                            <span class="slide__position">CEO Dell</span>
                        </div>
                        <div class="slide__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <a href="#">View case »</a>
                        </div>
                    </div>

                </div>
                    <div class="slide__item">
                        <div class="slide__left">
                            <div class="slide__brand">
                                <img src="./src/components/landing/img/cola-logo.png" alt="">
                            </div>
                            <strong>{{slidez.text}} Industry</strong>
                            <span>Soft drink company</span>
                            <strong>Location</strong>
                            <span>United States</span>
                        </div>
                        <div class="slide__right">
                            <div class="slide__person">
                                <div class="slide__avatar">
                                    <img src="./src/components/landing/img/photo.png" alt="">
                                </div>
                                <strong class="slide__name">John Pemberton</strong>
                                <span class="slide__position">CEO Dell</span>
                            </div>
                            <div class="slide__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                <a href="#">View case »</a>
                            </div>
                        </div>

                    </div>
                </div>
            </slide>
        </carousel>
    </div>
</section>
<section class="frame frame_dark">
    <div class="container">
        <div class="frame__top">
            <h2 class="frame__heading">Thanks for partners</h2>
            <p class="frame__text">They are people and organizations with ambitious missions. They want to unleash the power of software for their cause or business. We help them envisage, design and deliver.</p>
        </div>
        <ul class="partners">
            <li class="partners__item">
                <img src="" alt="">
            </li>
        </ul>

    </div>
</section>
<section class="frame frame_light">
    <div class="container">
        <div class="frame__top">
            <h2 class="frame__heading">Thanks for partners</h2>
            <p class="frame__text">They are people and organizations with ambitious missions. They want to unleash the power of software for their cause or business. We help them envisage, design and deliver.</p>
        </div>
        <ul class="partners">
            <li class="partners__item">
                <img src="" alt="">
            </li>
        </ul>
        <carousel></carousel>
    </div>
</section>