<header [title]="'A Future With Valor Software'"
        [text]="'Like to be involved in different projects within your favorite technology? We are glad to offer you employment opportunities you dreamed. We believe that you are talanted!'"
        [bg]="'assets/images/header/careers.jpg'">
</header>

<section class="frame frame_border">
  <div class="container">
    <section-heading
      [title]="'Want to join the team?'"
      [description]="'We \'re looking for people who want to create powerful, beautiful and intuitive products who get bored when they\'re not challenged, continually seek opportunities for improvement and want to learn something new every day.'"
      [additionalText]="'Sound like you? See our vacancies below'"
    >
    </section-heading>
    <div class="row">
      <vacancies></vacancies>
    </div>
  </div>

</section>

<section class="frame">
  <div class="container">
    <div class="learn-more">
      <div class="learn-more-text">
        Learn more about our <a [routerLink]="['/about']" fragment="our-culture" >culture</a> and why Valor Software is Cool :)
      </div>
    </div>
  </div>
</section>


