<ul class="nav navbar-nav navbar-right">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">Home</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/approach">Approach</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/services">Services</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/clients">Clients</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/blog">Blog</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/events">Events</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/about">About</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/team">Team</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/careers">Careers</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/contact">Contact</a>
  </li>
</ul>
