<div id="contact-form" *ngIf="isContactForm">
  <form *ngIf="!success" novalidate class="form-horizontal" (ngSubmit)="onSubmit($event)" #contactForm="ngForm">
    <fieldset>
      <div class="form-group">
        <div class="col-md-12">
          <input id="contact-name"
                 type="text"
                 placeholder="Your name.."
                 class="input form-control border placeholder-text"

                 pattern="[a-zA-Zа-яА-ЯёЁ ]*"
                 minlength="1"

                 name="name"
                 #userName="ngModel"
                 [(ngModel)]="name">
          <div *ngIf="userName.errors && (userName.dirty || userName.touched)"
               class="alert alert-danger">
            <div [hidden]="!userName.errors.pattern">
              Use valid name
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <input
                 type="email"
                 placeholder="Your e-mail.."
                 class="input form-control border placeholder-text"

                 pattern="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,10}$"
                 required

                 name="email"
                 #userEmail="ngModel"
                 [(ngModel)]="email">
          <div *ngIf="userEmail.errors && (userEmail.dirty || userEmail.touched)"
               class="alert alert-danger">
            <div [hidden]="!userEmail.errors.required">
              Email is required
            </div>
            <div [hidden]="!userEmail.errors.pattern">
              Use valid email
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <textarea
            class="textarea form-control field-height placeholder-text"
            placeholder="Message.."

            maxlength="1000"

            name="textarea"
            #usserMessage="ngModel"
            [(ngModel)]="msg"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div class="drop-container">
            <label class="drop-label">
              <div class="text-drop">
                <input style="display: none;" type="file" #input (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
                <img [src]="'assets/images/forms/upload-icon.png'" alt="Upload icon">
                <span *ngIf="!this.fileName"> Add Document </span>
                <span *ngIf="this.fileName">{{this.fileName}}</span>
              </div>
            </label>
            <span *ngIf="this.fileName" (click)="removeFile(input)" class="drop-container__remove"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <input type="submit" [disabled]="!contactForm.form.valid" (click)="getDataFromTemplate()" class="btn" value="Send inquery »"/>
        </div>
      </div>
    </fieldset>
  </form>
  <div *ngIf="success" class="success-message">
    <div class="alert alert-success">
      <strong>Your email has been sent.</strong>
    </div>
    <span class="frame__text">
      Thank you for interested in our company. Our managers will contact you within 24 hours.
    </span>
  </div>
</div>

<div id="vacancy-form" *ngIf="isVacancyForm">
  <div class="col-lg-8 col-lg-offset-2">
    <form *ngIf="!success" [class.form-horizontal]="isMobile" (ngSubmit)="onSubmit($event)" #vacancyForm="ngForm">
      <fieldset>
        <div class="clearfix">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group clearfix">
              <input
               type="text"
               placeholder="Your name.."
               class="input form-control border placeholder-text"

               pattern="[a-zA-Zа-яА-ЯёЁ ]*"
               minlength="1"

               name="name"
               #userName="ngModel"
               [(ngModel)]="name">
              <div *ngIf="userName.errors && (userName.dirty || userName.touched)"
                   class="alert alert-danger">
                <div [hidden]="!userName.errors.pattern">
                   Use valid name
                </div>
              </div>
            </div>
            <div></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group clearfix">
              <input
                type="email"
                placeholder="Your e-mail.."
                class="input form-control border placeholder-text"

                pattern="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,10}$"
                required

                name="email"
                #userEmail="ngModel"
                [(ngModel)]="email">
              <div *ngIf="userEmail.errors && (userEmail.dirty || userEmail.touched)"
                   class="alert alert-danger">
                <div [hidden]="!userEmail.errors.required">
                  Email is required
                </div>
                <div [hidden]="!userEmail.errors.pattern">
                  Use valid email
                </div>
              </div>
            </div>
            <div></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group clearfix">
            <input
               type="text"
               placeholder="Your phone.."
               class="input form-control border placeholder-text"

               maxlength="14"
               pattern="^\+?[0-9]{3,14}$"

               name="phone"
               #userPhone="ngModel"
               [(ngModel)]="phone">
              <div *ngIf="userPhone.errors && (userPhone.dirty || userPhone.touched)"
                   class="alert alert-danger">
                <div [hidden]="!userPhone.errors.pattern">
                  Use valid phone number
                </div>
              </div>
            </div>
            <div></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group clearfix">
            <input
              type="text"
              placeholder="Your city.."
              class="input form-control border placeholder-text"

              pattern="[a-zA-Zа-яА-ЯёЁ ]*"
              minlength="1"

              name="city"
              #userCity="ngModel"
              [(ngModel)]="city">
              <div *ngIf="userCity.errors && (userCity.dirty || userCity.touched)"
                   class="alert alert-danger">
                <div [hidden]="!userCity.errors.pattern">
                  Use valid city name
                </div>
              </div>
            </div>
            <div></div>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="col-lg-12">
            <div class="form-group ">
              <textarea
                  class="form-control field-height placeholder-text"
                  placeholder="Message.."

                  maxlength="1000"

                  name="textarea"
                  #userText="ngModel"
                  [(ngModel)]="msg">
              </textarea>
            </div>
            <div></div>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="col-lg-9 col-md-9">
            <div [class.row]="isMobile">
              <div class="drop-container">
                <label class="drop-label">
                  <div class="text-drop">
                    <input style="display: none;" #input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
                    <img [src]="'assets/images/forms/upload-icon.png'" alt="Upload icon">
                    <span *ngIf="!this.fileName"> Add Document </span>
                    <span *ngIf="this.fileName">{{this.fileName}}</span>
                  </div>
                </label>
                <span *ngIf="this.fileName" (click)="removeFile(input)" class="drop-container__remove"></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div [class.row]="isMobile">
              <input type="submit" [disabled]="!vacancyForm.form.valid" (click)="getDataFromTemplate()" class="btn" value="Send inquery »"/>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <div *ngIf="success" class="success-message">
      <div class="alert alert-success">
        <strong>Your email has been sent.</strong>
      </div>
      <span class="frame__text">
        Thank you for interested in our company. Our managers will contact you within 24 hours.
      </span>
    </div>
  </div>
</div>

<div id="case-form" *ngIf="isCaseForm">
  <div class="col-lg-8 col-lg-offset-2">
    <form *ngIf="!success" [class.form-horizontal]="isMobile" (ngSubmit)="onSubmit($event)" #caseForm="ngForm">
      <fieldset>
        <div class="form-group clearfix">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input
                     type="text"
                     placeholder="Your name.."
                     class="input form-control border placeholder-text"

                     pattern="[a-zA-Zа-яА-ЯёЁ ]*"
                     minlength="1"

                     name="name"
                     #userName="ngModel"
                     [(ngModel)]="name">
              <div *ngIf="userName.errors && (userName.dirty || userName.touched)"
                   class="alert alert-danger">
                <div [hidden]="!userName.errors.pattern">
                  Use valid name
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                 type="email"
                 placeholder="Your e-mail.."
                 class="input form-control placeholder-text border"

                 pattern="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,10}$"
                 required

                 name="email"
                 #userEmail="ngModel"
                 [(ngModel)]="email">
              <div *ngIf="userEmail.errors && (userEmail.dirty || userEmail.touched)"
                   class="alert alert-danger">
                <div [hidden]="!userEmail.errors.required">
                  Email is required
                </div>
                <div [hidden]="!userEmail.errors.pattern">
                  Use valid email
                </div>
              </div>
            </div>
            <div></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <textarea
                class="form-control field-height placeholder-text"
                placeholder="Message.."

                maxlength="1000"

                name="textarea"
                #userText="ngModel"
                [(ngModel)]="msg"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="col-lg-9 col-md-9">
            <div [class.row]="isMobile">
              <div class="drop-container">
                <label class="drop-label">
                  <div class="text-drop">
                    <input style="display: none;" type="file" #input (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
                    <img [src]="'assets/images/forms/upload-icon.png'" alt="Upload icon">
                    <span *ngIf="!this.fileName"> Add Document </span>
                    <span *ngIf="this.fileName">{{this.fileName}}</span>
                  </div>
                </label>
                <span *ngIf="this.fileName" (click)="removeFile(input)" class="drop-container__remove"></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div [class.row]="isMobile">
              <input type="submit" [disabled]="!caseForm.form.valid" (click)="getDataFromTemplate()" class="btn" value="Send inquery »"/>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <div *ngIf="success" class="success-message">
      <div class="alert alert-success">
        <strong>Your email has been sent.</strong>
      </div>
      <span class="frame__text">
      Thank you for interested in our company. Our managers will contact you within 24 hours.
    </span>
    </div>
  </div>
</div>




