/**Styles for form on contact page **/


#contact-form .field-height {
  height: 155px;
}

#contact-form .send-red-button {
  float:right;
  width: 202px;
  height: 52px;
  background-color: #cd151e;
  border: 1px solid #c3121a;
  border-radius: 1px;
}

#contact-form .send-red-button:hover {
  background-color: #c3121a;
  color:#fff;
}

#contact-form .send-red-button .text-button {
  color: white;
  font-family: Roboto;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
}

#contact-form .send-red-button .text-button span .arrow {
  font-size: 20px;
}

@media (max-width: 1023px) {
  #contact-form .send-red-button {
    width: 225px;
  }
}


/**Styles for form on vacancies pages **/


#vacancy-form .field-height {
  height: 155px;
}

#vacancy-form .send-red-button {
  width: 202px;
  height: 52px;
  background-color: #cd151e;
  border: 1px solid #c3121a;
  border-radius: 1px;
}

#vacancy-form .send-red-button:hover {
  background-color: #c3121a;
  color:#fff;
}

#vacancy-form .send-red-button .text-button {
  color: white;
  font-family: Roboto;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
}

#vacancy-form .send-red-button .text-button span .arrow {
  font-size: 20px;
}


@media (max-width: 1023px) {
  #vacancy-form .send-red-button {
    width:100%;
    margin-top: 25px
  }

  #vacancy-form .form-padding {
   padding-bottom:10px
  }
}

/**Styles for form on case pages **/



#case-form .case-container {
  display:flex;
  justify-content:center;
  align-items:center;
}

#case-form .field-height {
  height: 120px;
}

#case-form .placeholder-style {
  color: #55555c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  height:50px;
  margin-top: -65px;
}

#case-form .send-red-button {
  width: 202px;
  height: 52px;
  background-color: #cd151e;
  border: 1px solid #c3121a;
  border-radius: 1px;
}

#case-form .send-red-button:hover {
  background-color: #c3121a;
  color:#fff;
}

#case-form .send-red-button .text-button {
  color: white;
  font-family: Roboto;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
}

#case-form .send-red-button .text span .arrow {
  font-size: 20px;
}



@media (max-width: 1023px) {
  #case-form .send-red-button {
    width:100%;
    margin-top: 25px
  }

  #case-form .form-padding {
    padding-bottom:80px
  }
}


/**Common styles for all pages **/


.shift-right {
  margin-right: 10px;
}

.border {
  background-color: white;
  border: 1px solid #babfc4;
  border-radius: 4px;
}

.placeholder-text {
  color: #55555c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.drop-container {
  background-color: #fafcfd;
  border: 1px dashed #babfc4;
  border-radius: 4px;
  height:52px;
}

.drop-container:hover {
  background-color: #eef5f9;
  text-decoration: underline;
}

.drop-container img {
  width:25px;
  height:21px;
  margin-right:10px
}

.drop-container .text-drop  {
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  color: #55555c;
  text-align:left;
  padding-left:21px;
}

.drop-container .text-drop-mobile  {
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  color: #55555c;
}

.drop-container span {
  color: #cd151e;
  font-family: Roboto;
  font-size: 16px;
  line-height: 50px;
}
