html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100%;
}

landing {
    margin-top: 71px;
    display: block;
}

body {
    min-width: 320px;
}

svg {
    width: 100%;
    max-width: 100%;
    height: 100%;
    vertical-align: top;
}

a {
    color: #cd151e;
}

a:hover {
    color: #cd151e;
    text-decoration: underline;
}

.frame {
    text-align: center;
    padding: 90px 0;
}

.frame_dark {
    background: #1d1d2b;
}

.frame_light {
    background: #eef5f9;
}

.frame__top {
    padding-bottom: 50px;
}

.frame__heading {
    text-transform: uppercase;
    color: #cd151e;
    font-size: 32px;
    font-weight: 900;
    line-height: 30px;
    position: relative;
    margin: 0;
    padding: 0 0 40px;
}

.frame__heading:after {
    height: 2px;
    content: '';
    width: 30px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -15px;
    background: #babfc4;
}

.frame__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    color: #1d1d2b;
    max-width: 800px;
    margin: 0 auto;
}

.frame_dark .frame__text {
    color: #babfc4;
}

.frame__btn {
    margin-top: 50px;
}

.icon-block__icon {
    height: 56px;
    margin-bottom: 33px;
}

.icon-block__icon img {
    height: 100%;
}

.icon-block__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.icon-block__text {
    color: #1d1d2b;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.btn {
    background: #cd151e;
    border: 2px solid #c3121a;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
    padding: 8px 25px;
}

.btn:after {
    content: ' »';
}

.btn:hover {
    color: #fff;
    background: #c3121a;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn:focus {
    color: #fff;
}

.btn_transparent {
    border: 2px solid white;
    border-radius: 4px;
    background: transparent;
}

.btn_transparent:hover {
    background: #fff;
    color: #cd151e;
}

/*=========================Projects styles start=======================*/
.projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-list .frame__btn {
    margin-top: 0;
}

.project-list__item {
    flex: 0 0 33%;
    padding: 0 25px 20px;
    min-width: 400px;
    margin-bottom: 43px;
}

.projects-preview {
    width: 400px;
    height: 300px;
}

.projects-preview__image {
    margin-bottom: 20px;
    max-height: 234px;
    overflow: hidden;
}

.projects-preview__image img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.projects-preview__bottom {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    text-align: left;
}

.projects-preview__title {
    width: 50%;
    font-weight: 500;
    font-size: 16px;
}

.frame_dark .frame__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  color: #babfc4;
}

.projects-preview__link {
    display: block;
    width: 50%;
    text-align: right;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

.projects-preview__description {
    color: #babfc4;
    font-size: 14px;
    font-weight: 300;
}

.projects-list-dark .projects-preview {
    background: #1e1e2d;
}

.projects-list-light .projects-preview {
    background: #fff;
}

.projects-list-light .projects-preview .projects-preview-title {
    color: #000;
}

.projects-preview .projects-preview-description {
    color: #777777;
}

.projects-preview .projects-preview-link {
    color: #ff090a;
}

/*=========================Projects styles end=======================*/

.socials {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials__item:not(:last-child) {
    margin-right: 12px;
}

.socials__item a {
    display: block;
    width: 28px;
    height: 28px;
}

.socials__item svg {
    fill: #babfc4;
}

.socials__item a:hover svg {
    fill: #fff;
}

/*=========================illustrated component start=======================*/

.illustrated {
    text-align: center;
    padding: 90px 0;
}

.illustrated_dark {
    background: #1d1d2b;
}

.illustrated__section {

}


/*=========================illustrated component end=======================*/



























