<header
  [title]="'our ambitious team'"
  [text]="'A community of passionate individuals whose purpose is to revolutionize software design, creation and delivery, while advocating for positive social change.'"
  [bg]="'team/images/team.jpg'"
>
</header>

<div class="container">
  <div class="row">
    <div class="team-list">
      <div *ngFor="let member of team" class="team-item">
        <div class="team-item__preview-image">
          <a href="">
            <img [src]="getImage(member.previewImage)" alt="">
          </a>
        </div>
        <a href="" class="team-item__name">{{member.name}}</a>
        <span class="team-item__position">{{member.position}}</span>
        <ul class="team-item__skills">
          <li class="team-item__skill" *ngFor="let skill of member.skills">{{skill}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="frame">
  <div class="container">
    <section-heading
      [title]="'Want to join the team?'"
      [description]="'We \'re looking for people who want to create powerful, beautiful and intuitive products who get bored when they\'re not challenged, continually seek opportunities for improvement and want to learn something new every day.'">
    </section-heading>

  </div>
  <div class="sound-like-you">
    Sound like you? See our  <a [routerLink]="['/approach']"> opening positions</a>
  </div>
</section>
