<header
  [title]="'our ambitious team'"
  [text]="'We are a community of passionate individuals whose purpose is to revolutionize software design, creation and delivery, while advocating for positive social change.'"
  [bg]="'assets/images/header/team.jpg'"
>
</header>

<div class="container">
  <div class="row">
    <div class="team-list">
      <template ngFor let-member [ngForOf]="team">
        <div *ngIf="member.public" class="team-item">
          <div class="team-item__preview-image">
            <a [routerLink]="['/team', member.slug]">
              <img src="{{ member['full-photo'].url }}" alt="{{ member.name }}">
            </a>
          </div>
          <a [routerLink]="['/team', member.slug]" class="team-item__name">{{ member.name }}</a>
          <span class="team-item__position">{{ member.position }}</span>
          <div class="team-item__skills" innerHTML="{{ member['skills-2'] }}"></div>
        </div>
      </template>
    </div>
  </div>
</div>

<section class="frame">
  <div class="container">
    <section-heading
      [title]="'Want to join the team?'"
      [description]="'We \'re looking for people who want to create powerful, beautiful and intuitive products who get bored when they\'re not challenged, continually seek opportunities for improvement and want to learn something new every day.'"
      [additionalText]="'Sounds like you? See our '"
      [additionalLink]="'/careers'"
      [additionalLinkText]="'openings positions.'"
    >
    </section-heading>

  </div>

</section>
