<header [title]="'We are valor software'"
        [text]="'Apart from being professionals with our clients, we treat our employees as we\'d want to be treated. Equality, transparency and cat-friendly atmosphere is all about us!'"
        [bg]="'assets/images/header/about.jpg'">
</header>

<section class="frame frame_border">
  <div class="container">
    <section-heading
      [title]="'Our story'"
      [description]="'We started in 2013. At the moment we are the team of 40+ talented professionals, and we continue to grow. We are a technology maniacs and always work with proven cutting edge technologies. We don’t stop learning: we stay abreast of disruptive technologies that enable the next generation of amazing software and experiences.'"
    >
    </section-heading>
    <div class="about-story">
      <div class="about-story__inner">
          <div class="about-story__section">
            <div class="about-story__img">
              <img [src]="'assets/images/about/about-logo@2x.jpg'" alt="agile">
            </div>
          </div>
          <div class="about-story__section" >
            <div class="about-story__facts">
              <div class="about-story__fact">
                <strong class="about-story__fact-num about-story__fact-num_sm">3<span>yrs</span></strong>
                <span class="about-story__fact-text">company <br /> experience</span>
              </div>
              <div class="about-story__fact">
                <strong class="about-story__fact-num about-story__fact-num_lg">40<span>+</span></strong>
                <span class="about-story__fact-text">ambitious <br /> professionals</span>
              </div>
              <div class="about-story__fact">
                <strong class="about-story__fact-num about-story__fact-num_lg">2<span>k</span><span>+</span></strong>
                <span class="about-story__fact-text">github <br />stars</span>
              </div>
              <div class="about-story__fact">
                <strong class="about-story__fact-num about-story__fact-num_md">96<span>%</span></strong>
                <span class="about-story__fact-text">positive <br/> feedback</span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

 <section id ="our-culture" class="frame frame_border">
  <single-content [contentId]="'culture'"></single-content>
</section>


<section class="frame">
  <div class="container">
    <section-heading
      [title]="'Want to join the team?'"
      [description]="'Like to be involved in actually interesting projects and still use your favorite technologies? We are glad to offer you a place in Valor family!'"
    >
    </section-heading>
    <div class="row">
      <vacancies></vacancies>
    </div>
  </div>
</section>


