<section class="frame frame_white">
  <content [contentId]="'culture'"></content>
</section>


<section class="frame">
  <div class="container">
    <section-heading
      [title]="'Want to join the team?'"
      [description]="'We \'re looking for people who want to create powerful, beautiful and intuitive products who get bored when they\'re not challenged, continually seek opportunities for improvement and want to learn something new every day.'"
      [additionalText]="'Sound like you? See our openings below'"
    >
    </section-heading>
    <vacancies class="row"></vacancies>
  </div>

</section>


