<div class="frame frame_white">
  <div class="frame__top">
    <div class="container">
      <h2 class="frame__heading frame__align-left">Apply</h2>

      <forms [pageName]="pageName"></forms>
    </div>
  </div>
</div>


<section class="frame">
  <div class="container">
    <section-heading
      [title]="'Want to join the team?'"
      [description]="'We \'re looking for people who want to create powerful, beautiful and intuitive products who get bored when they\'re not challenged, continually seek opportunities for improvement and want to learn something new every day.'"
      [additionalText]="'Sound like you? See our openings below'"
    >
    </section-heading>
    <vacancies class="row"></vacancies>

  </div>

</section>

<section class="frame">
  <div class="container">
    <div class="learn-more">
      <div class="learn-more-text">
        Learn more about our <a routerLink="/about">culture</a> and why Valor Software is a great place to work :)
      </div>
    </div>
  </div>

</section>

