<header [title]="'How can we help?'"
        [text]="'To discuss how Valor Software can help with your ambitious software needs fill the form below to get in touch!'"
        [bg]="'contact/images/contact.jpg'">
</header>
<div id="contact-form-desktop" class="contact-form">
  <section class="frame frame_border">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="let-s-talk">
              <div class="let-s-talk__item">
                <h2 class="frame__heading frame__align-left">Let's talk</h2>
                <div class="let-s-talk__text">
                  <div *ngFor="let block of content;">
                    <h6>{{block.title}}</h6>
                    <span>{{block.text}}</span>
                  </div>
                </div>
              </div>
              <div class="let-s-talk__item">
                <h2 class="frame__heading frame__align-left">We are at social</h2>
                <ul class="socials socials_colored">
                <li class="socials__item socials__item_git">
                  <a target="_blank" href="https://github.com/valor-software">
                    <svg>
                      <use xlink:href="#icon-git"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item socials__item_be">
                  <a target="_blank" href="https://www.behance.net/ValorSoftware">
                    <svg>
                      <use xlink:href="#icon-be"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item socials__item_fb">
                  <a target="_blank" href="https://www.facebook.com/valorsoftware/">
                    <svg>
                      <use xlink:href="#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item socials__item_tw">
                  <a target="_blank" href="https://twitter.com/ValorSoft">
                    <svg>
                      <use xlink:href="#icon-tw"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item socials__item_li">
                  <a target="_blank" href="https://www.linkedin.com/company/valor-software-solutions">
                    <svg>
                      <use xlink:href="#icon-li"></use>
                    </svg>
                  </a>
                </li>
              </ul>
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="contact-form__section">
            <h2 class="frame__heading frame__align-left">Apply</h2>
            <forms [pageName]="pageName"></forms>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div id="contact-form-mobile" class="contact-form">
  <section class="frame frame_border">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="let-s-talk">
            <div class="let-s-talk__item">
              <h2 class="frame__heading frame__align-left">Let's talk</h2>
              <div class="let-s-talk__text">
                <div *ngFor="let block of content;">
                  <h6>{{block.title}}</h6>
                  <span>{{block.text}}</span>
                </div>
              </div>
            </div>
            <div class="let-s-talk__item">
              <h2 class="frame__heading frame__align-left">We are at social</h2>
              <ul class="socials socials_colored">
                <li class="socials__item socials__item_git">
                  <a target="_blank" href="https://github.com/valor-software">
                    <svg>
                      <use xlink:href="#icon-git"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item socials__item_be">
                  <a target="_blank" href="https://www.behance.net/ValorSoftware">
                    <svg>
                      <use xlink:href="#icon-be"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item socials__item_fb">
                  <a target="_blank" href="https://www.facebook.com/valorsoftware/">
                    <svg>
                      <use xlink:href="#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item socials__item_tw">
                  <a target="_blank" href="https://twitter.com/ValorSoft">
                    <svg>
                      <use xlink:href="#icon-tw"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item socials__item_li">
                  <a target="_blank" href="https://www.linkedin.com/company/valor-software-solutions">
                    <svg>
                      <use xlink:href="#icon-li"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="contact-form__section">
            <h2 class="frame__heading frame__align-left">Let's chat</h2>
            <forms [pageName]="pageName"></forms>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<section class="frame frame_border">
  <div class="container">
    <section-heading
      [title]="'Want to join the team?'"
      [description]="'We \'re looking for people who want to create powerful, beautiful and intuitive products who get bored when they\'re not challenged, continually seek opportunities for improvement and want to learn something new every day.'"
      [additionalText]="'Sounds like you? See our vacancies below'"
    >
    </section-heading>
    <div class="row">
      <vacancies></vacancies>
    </div>
  </div>
</section>

<section class="frame">
  <div class="container">
    <div class="learn-more">
      <div class="learn-more-text">
        Learn more about our <a [routerLink]="['/about']" [queryParams]="{section:'culture'}">culture</a> and why Valor Software is best place for you :)
      </div>
    </div>
  </div>
</section>


