#contact-form-desktop .let-s-talk {
  text-align: left;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  color: #55555c;
  margin-bottom: -20px;
}

#contact-form-desktop .let-s-talk__inner {
  display: flex;
}

#contact-form-desktop .let-s-talk__section {
  width: 50%;
  padding-left: 30px;
  vertical-align: middle;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

#contact-form-desktop .let-s-talk__section:nth-child(odd) {
  padding-left: 0;
  padding-right: 30px;
}

#contact-form-desktop .let-s-talk__text {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

#contact-form-desktop .let-s-talk__text div {
  text-align: left;
  padding-right: 20px;
}

#contact-form-desktop .let-s-talk__text div:nth-child(even) {
  padding-left: 100px;
}

#contact-form-desktop .let-s-talk__text h6 {
  font-weight: 500;
  color: #1d1d2b;
  font-size: 18px;
}

#contact-form-desktop .let-s-talk__text span {
  color: #55555c;
  font-size: 16px;
  font-weight: 300;
}

#contact-form-desktop .socials-block {
  margin-top:65px;
}

#contact-form-desktop .socials_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

#contact-form-desktop .socials-contact {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 15px 0 0;
}

#contact-form-desktop .socials__item-contact:not(:last-child) {
  margin-right: 25px;
}

#contact-form-desktop .socials__item-contact a {
  display: block;
  width: 28px;
  height: 28px;
}

#contact-form-desktop .socials__item-contact + .behance a:hover svg {
  fill: #1769ff;
}

#contact-form-desktop .socials__item-contact + .fb a:hover svg {
  fill: #3b5998
}

#contact-form-desktop .socials__item-contact + .linkedin a:hover svg {
  fill: #0077b5;
}

#contact-form-desktop .socials__item-contact + .twitter a:hover svg {
  fill: #55acee;
}

#contact-form-mobile {
  display:none;
}



@media (max-width: 1023px) {
  #contact-form-desktop {
    display: none;
  }

  #contact-form-mobile {
    display:block;
  }

  #contact-form-mobile .let-s-talk {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: #55555c;
    margin-bottom: -20px;
  }

  #contact-form-mobile .let-s-talk__inner {
    display: flex;
  }

  #contact-form-mobile .let-s-talk__section {
    padding-left: 30px;
    vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  #contact-form-mobile .let-s-talk__section:nth-child(odd) {
    padding-left: 0;
    padding-right: 30px;
  }

  #contact-form-mobile .contact-form__section {
    padding-left: 40px;
    margin-top:40px;
  }


  #contact-form-mobile .let-s-talk__text {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
  }

  #contact-form-mobile .let-s-talk__text div {
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto ;

  }

  #contact-form-mobile .let-s-talk__text div:nth-child(even) {
    margin: 0 auto ;
  }

  #contact-form-mobile .let-s-talk__text h6 {
    font-weight: 500;
    color: #1d1d2b;
    font-size: 18px;
  }

  #contact-form-mobile .let-s-talk__text span {
    color: #55555c;
    font-size: 16px;
    font-weight: 300;
  }

  #contact-form-mobile .socials-block {
    margin-top:40px;
  }

  #contact-form-mobile .socials_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }

  #contact-form-mobile .socials-contact {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
  }

  #contact-form-mobile .socials__item-contact:not(:last-child) {
    margin-right: 25px;
  }

  #contact-form-mobile .socials__item-contact a {
    display: block;
    width: 28px;
    height: 28px;
  }

  #contact-form-mobile .socials__item-contact + .behance a:hover svg {
    fill: #1769ff;
  }

  #contact-form-mobile .socials__item-contact + .fb a:hover svg {
    fill: #3b5998
  }

  #contact-form-mobile .socials__item-contact + .linkedin a:hover svg {
    fill: #0077b5;
  }

  #contact-form-mobile .socials__item-contact + .twitter a:hover svg {
    fill: #55acee;
  }

}
