<header [title]="'How can we help?'"
        [text]="'Would you like to discuss how Valor Software can help with your ambitious software needs? Let us know by filling out the form directly below.'"
        [bg]="'contact/images/contact.jpg'">
</header>

<section class="frame">
  <div class="container">
    <div class="let-s-talk__inner">
      <div class="let-s-talk__section">
        <div class="container">
          <h2 class="frame__heading frame__align-left">Let's talk</h2>
          <div class="let-s-talk__text">
            <div *ngFor="let block of content;">
              <h6>{{block.title}}</h6>
              <span>{{block.text}}</span>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="socials-block">
            <h2 class="frame__heading frame__align-left">We are at social</h2>
            <div class="__inner">
              <ul class="socials-contact">
                <li class="socials__item-contact ">
                  <a target="_blank" href="https://github.com/valor-software">
                    <svg>
                      <use xlink:href="#icon-git"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item-contact behance">
                  <a target="_blank" href="#">
                    <svg>
                      <use xlink:href="#icon-be"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item-contact fb">
                  <a target="_blank" href="https://www.facebook.com/valorsoftware/">
                    <svg>
                      <use xlink:href="#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item-contact twitter">
                  <a target="_blank" href="https://twitter.com/ValorSoft">
                    <svg>
                      <use xlink:href="#icon-tw"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item-contact linkedin">
                  <a target="_blank" href="https://www.linkedin.com/company/valor-software-solutions">
                    <svg>
                      <use xlink:href="#icon-li"></use>
                    </svg>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>


      <div class="let-s-talk__section">
        <div class="container">
          <h2 class="frame__heading frame__align-left">Apply</h2>
          <forms [pageName]="pageName"></forms>
        </div>
      </div>

    </div>

  </div>

</section>


<section class="frame frame_border">
  <div class="container">
    <section-heading
      [title]="'Want to join the team?'"
      [description]="'We \'re looking for people who want to create powerful, beautiful and intuitive products who get bored when they\'re not challenged, continually seek opportunities for improvement and want to learn something new every day.'"
      [additionalText]="'Sound like you? See our openings below'"
    >
    </section-heading>
    <div class="row">
      <vacancies></vacancies>
    </div>
  </div>
</section>

<section class="frame">
  <div class="container">
    <div class="learn-more">
      <div class="learn-more-text">
        Learn more about our <a routerLink="/about">culture</a> and why Valor Software is a great place to work :)
      </div>
    </div>
  </div>
</section>


