<div class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__text">
                    <h5>Want to work with us</h5>
                    <p>Would you like to discuss how Valor Software can help with your software needs?</p>
                </div>
                <a href="" class="btn btn_transparent footer__btn">Let’s Talk</a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__inner">
                <ul class="socials">
                <li class="socials__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon-git"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon-be"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon-fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon-tw"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon-li"></use>
                        </svg>
                    </a>
                </li>
            </ul>
                <p class="copyrights">
                    © 2016, Valor Software <br/>
                    All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</div>