<header class="header_blog"
  [title]="vacancy.name"
  [location]="vacancy.location"
  [bg]="vacancy.headerImage"
>
</header>

<section class="frame">
  <div class="container">

    <div class="project__section">
      <div class="col-lg-2">
        <h5 class="project__heading">Description</h5>
      </div>
      <div class="col-lg-9 col-md-11">
        <p>{{vacancy.description}}</p>
      </div>
      <div class="col-lg-1 col-md-1">
        <button pageScroll (click)="scrollTo($event)" class="btn btn_scroll btn_small project__btn">Apply</button>
      </div>
    </div>

    <div class="project__section">
      <div class="col-lg-2">
        <h5 class="project__heading">Requirements</h5>
      </div>
      <div class="col-lg-9">
        <ul class="project-page-list">
          <li *ngFor="let item of vacancy.requirements">
            {{item}}
          </li>
        </ul>
        <div *ngIf="vacancy.requirementsPlus">
          <p>Would be a plus:</p>
          <ul class="project-page-list">
            <li *ngFor="let item of vacancy.requirementsPlus">
              {{item}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="project__section">
      <div class="col-lg-2">
        <h5 class="project__heading">Responsibilities</h5>
      </div>
      <div class="col-lg-9">
        <ul class="project-page-list">
          <li *ngFor="let item of vacancy.responsibilities">
            {{item}}
          </li>
        </ul>
      </div>
    </div>

    <div class="project__section">
      <div class="col-lg-2">
        <h5 class="project__heading">We offer</h5>
      </div>
      <div class="col-lg-9">
        <ul class="project-page-list">
          <li *ngFor="let item of vacancy.offer">
            {{item}}
          </li>
        </ul>
      </div>
    </div>

    <div class="project__section project__section_borderless">
      <div class="col-lg-2">
        <h5 class="project__heading project__heading_mb">Benefits</h5>
      </div>
      <div class="col-lg-9">
        <div class="project__benefits">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 icon-block">
            <div class="icon-block__icon">
              <img [src]="'assets/images/vacancy/edge.png'" width="56" height="52"  alt="icon">
            </div>
            <h5 class="icon-block__title">Cutting Edge Technology</h5>
            <p class="icon-block__text">The best candidates possess the skill and personality to drive your product's most important initiatives.</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 icon-block">
            <div class="icon-block__icon">
              <img [src]="'assets/images/vacancy/learn.png'" width="56" height="51" alt="icon">
            </div>
            <h5 class="icon-block__title">Learning as a Part of Work</h5>
            <p class="icon-block__text">The best candidates possess the skill and personality to drive your product's most important initiatives.</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 icon-block">
            <div class="icon-block__icon">
              <img [src]="'assets/images/vacancy/work-space.png'" width="56" height="54" alt="icon">
            </div>
            <h5 class="icon-block__title">Comfortable Workspace</h5>
            <p class="icon-block__text">The best candidates possess the skill and personality to drive your product's most important initiatives.</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 icon-block">
            <div class="icon-block__icon">
              <img [src]="'assets/images/vacancy/fun.png'" width="60" height="48" alt="icon">
            </div>
            <h5 class="icon-block__title">Work-Life Balance</h5>
            <p class="icon-block__text">The best candidates possess the skill and personality to drive your product's most important initiatives.</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 icon-block">
            <div class="icon-block__icon">
              <img [src]="'assets/images/vacancy/flexible.png'" width="50" height="50" alt="icon">
            </div>
            <h5 class="icon-block__title">Flexible Hours</h5>
            <p class="icon-block__text">The best candidates possess the skill and personality to drive your product's most important initiatives.</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 icon-block">
            <div class="icon-block__icon">
              <img [src]="'assets/images/vacancy/staff.png'" width="58" height="50" alt="icon">
            </div>
            <h5 class="icon-block__title">Friendly Staff</h5>
            <p class="icon-block__text">The best candidates possess the skill and personality to drive your product's most important initiatives.</p>
          </div>

        </div>
        <div class="learn-more learn-more_project">
          <div class="learn-more-text">
            Learn more about our <a [routerLink]="['/about']" fragment="our-culture">culture</a> and why Valor Software is a great place to work
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="frame frame_light" id="applyForm">
  <div class="container">
    <div class="frame__top">
      <h2 class="frame__heading">Apply</h2>
    </div>
    <div>
      <forms [pageName]="pageName"></forms>
    </div>
  </div>
</div>
