/* carousel */

.carousel.slide {
  padding: 0 50px 60px;
}

.carousel-control.left, .carousel-control.right {
  background: none;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

.carousel-control > span.icon-next, .carousel-control > span.icon-prev {
  width: 14px;
  height: 28px;
  background: url(./images/arrow.png);
  background-size: cover;
  cursor: pointer;
}

.carousel-control .icon-prev {
  transform: rotate(180deg);
}

.carousel-control > span:before {
  display: none;
}

.carousel-indicators {
  margin-bottom: 0;
  bottom: 0;
}

.carousel-indicators li {
  background: #babfc4;
  width: 11px;
  height: 11px;
  margin: 0 10px;
}

.carousel-indicators .active {
  background: #1d1d2b;
  margin: 0 10px;
}
