.projects-preview {
  margin: 15px;
  float: left;
  width: 400px;
  height: 300px;
  border: 1px solid
}

.projects-preview.dark {
  background: #ff4957;
}

.projects-preview.light {
  background: #98ffe9;
}

.projects-preview.dark > .projects-preview-title{
  color: #FFF;
}

.projects-preview.light > .projects-preview-title{
  color: #000;
}

.project-preview-title-dark {

}

/*.project-preview-title-light {*/
  /*color: #FFFFFF;*/
/*}*/

.projects-preview.dark.project-preview-description {
  color: #777777;
}

/*.project-preview-link {*/
/*color: #ff090a;*/
/*}*/

.projects-preview > a {
  position: relative;
  left: 270px;
  bottom: 58px;
  color: #ff090a;
}
