<div class="projects-preview__image">
  <a [routerLink]="['/project', project.link]">
    <img [src]="project.previewImage">
    <div class="projects-preview__overlay">
      <div class="projects-preview__plus">
        <span></span>
        <span></span>
      </div>
    </div>
  </a>
</div>
<div class="projects-preview__bottom">
  <p class="projects-preview__title">
    {{project.title}}
  </p>
  <a [routerLink]="['/project', project.link]" class="projects-preview__link">View Case »</a>
  <p class="projects-preview__description">{{project.shortDescription}}</p>
</div>
